* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* to avoid verflow (horizontal scrolling)*/
}

.container{
	background-color: #eaedf0;

}

.page{
	width: 900px;
	margin: 0 auto;
	/*border: 1px solid red;*/
	
}

.menu{
	height: 100px;
	background-color: #b2d6ff; /*sky blue*/
}

.sidebar{
	height: 300px;
	width: 200px;
	background-color: #f09a9d; /*pink red*/
	float: left ;
	/*opacity: 0.5;*/
}

.content{
	height: 500px;
	width: 650px;
	background-color: #f5cf8e; /*yellow orange*/
	float: left;
	padding: 20px;
}
/*	opacity: 0.5;*/

.article-image {
	
	width: 300px;
	/*height: 300px;*/
	float: left;
	margin-right: 20px;
	margin-bottom: 20px; 
}


.footer{
	clear: both; /* will remove floating side-effects*/
	/*height: 200px;*/
	background-color: #d6e9fe; /*light blue*/
}

.column{
	height: 160px;
	width: 31%;
	background-color: #b2d6ff;
	float: left;
	margin: 20px 1.16%;
}

.avatar {
	width: 60px;
	height: 60px;
	background-color: #d8e9fe;
	border-radius: 50%;
	margin: 25px;
	float: left;
}

.username {
	margin-top: 300px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}



/*best-practice to clear floats*/


.clear:after {
	content: ""; /* empty string or invisible element*/
	clear: both;
	display: block;
}