
.wrapper{
	width:80%;
	margin:; 0 auto;
}

.blackcontainer{
	background-color: black;
	width: 700px;
	height: auto;
	padding: 10px;
}

.blackcontainer3{
	background-color: black;
	width: 700px;
	height: auto;
	padding: 10px;

}

.blackcontainer9{
	background-color: black;
	width: 700px;
	height: auto;
	padding: 10px;
	float: left;
	display: inline-block;

}



.greyboxes {
	height: 150px;
	width: 150px;
	background-color: grey;
	float: left;
	margin: 10px 1.16%;
	position: relative;
}

.greyboxes2 {
	height: 150px;
	width: 150px;
	background-color: grey;
	float: left;
	margin: 10px 1.16%;
	position: relative;
}

.greyboxes3 {
	margin-right: 10px;
	height: 150px;
	width: 150px;
	background-color: grey;
	float: left;
	position: relative;
}

.greyboxes5 {
	margin-right: 5px;
	height: 40px;
	width: 40px;
	background-color: grey;
	float: left;
	position: relative;
}

.greyboxes7 {
	margin-right: 5px;
	height: 150px;
	width: 300px;
	background-color: grey;
	float: left;
}

.greyboxes8 {
	margin-right: 5px;
	height: 150px;
	width: 265px;
	background-color: grey;
	float: right;
	position: relative;
}



.clear:after {
	content: "";  /* empty string or invisible element */
	clear: both;
	display: block;
}

h1, p, h2{
	color: white;
}

textarea{
	float: left;
	height: 120px;
	width: 520px;
}

.buttons{
	margin-top: 10px;
	float: right;
	margin-right: 20px;


}

.d8 {
		float: left;
}

.d8 h2, .d8 p{
	margin-top: 5px;
	line-height: 2px;
	margin-right: 50px;
}

.d8 p{
	color: grey;
}


.format{
	font-size: 12px;
}

.box1{
	float: right;
}



.blackcontainer9{
	background-color: black;
	width: 700px;
	height: auto;
	padding: 10px;

}

.h7{
	float: left;
}

.h29, .p9, .button9{
	float: left;
}

.username{
	color: white;
	font-size: 12px;
}

.comment{
	font-size: 10px;
}

.subcolumn{
	margin-left: 50px;
	border-left: 5px solid white;
}

.mainlink{
	margin-left: 50px;
}

.tarea{
	width: 90%;
}

.btngroup{
	padding-right: 30px;
}

.val{
	float: right;
}

.p7{
	float: left;
}

.box{
	float: right;
}

.block{
	float: left;
}

.bord{
	border: 10px solid white;

}

/*testing*/

.column {
	height: 170px;
	width: 170px;
	background-color: black;
	float: left;
	margin: 20px 1.16%;
	position: relative;
	border: 2px solid white;
	padding: 10px 0px 20px 0px;	

}

.column2 {
	height: 170px;
	width: 170px;
	float: left;
	margin: 20px 1.16%;
	position: relative;
	
	

}


.avatar{
	width: 150px;
	height: 150px;
	background-color: grey;;
	/*margin: 20px;*/
	margin-left: 10px;
	float: left;



.block-with-text {
	overflow: hidden;
	position: relative;
	/* font-size = 16px; 16px + 8px = 24px */
	line-height: 1.2em; /*em = default font size */
	text-align: justify;
	max-height: 3.6em;
	margin-right: -1em;
	padding-right: 30px;
}

.username {
	
	margin-left: 30px;

}

.p2{
	margin-left: 30px;
}

